{% extends 'index.html' %}

{% block title %} {{mains.new_title}} {%  endblock %}

{% block content %}
    <div class="page-title page-title-blog bg-pattern" data-bgcolor="199FBE">
	<div class="page-title-overlay">
        <div class="container">
			<h1>Документы</h1>
             </div>
    </div>
		</div>

	<div class="blog blog-2">
	<div class="container">
		<div class="row">
			<div class="blog-container  col-md-12 c">
				<div class="blog-item">
					<div class="blog-item-image"> <img src="images/blog6.jpg" alt="" />

					</div>
                     {% for doct in doct %}
					<div class="blog-item-desc single-desc">
						<div class="blog-item-title">
							<h3><a href="#"></a>{{ doct.document_title }}</h3>
						</div>
						<div class="blog-item-text">
							<p>{{ doct.document_list|safe }}</p>
					</div>
						 </div>
                    {% endfor %}
                    {% for doc in doc %}
					<div class="blog-item-poster">
						<div class="blog-item-poster-image"> <img src="images/blog_author5.jpg" alt="" /> </div>
						<div class="blog-item-poster-info">
							<div class="blog-item-poster-name"> <a href="{{ doc.document_file_files.url }}">{{ doc.document_file_title }}</a> </div>

							<div class="blog-item-poster-text"> <a href="#"></a> </div>
						</div>
					</div>
      {% endfor %}

				</div>

			</div>

		</div>
	</div>
</div>


</div>




{% endblock %}