
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-matchheight">
				<div class="row">

					<!-- FOOTER ITEM 1 -->
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-item footer-item-1">
						<h3 class="footer-title footer-title-line"><i class="fa "></i> МЕНЮ</h3>
						<div class="tweet">
							<div class="tweet-login">
                            <li><a href="{% url 'main:mains'  %}">ГЛАВНАЯ</a></li>
                            </div>
							<div class="tweet-text">
                            <li class="dropdown"> <a data-toggle="dropdown" href="#">ИНФОРМАЦИЯ ДЛЯ ПАЦИЕНТОВ</a>
						<ul class="dropdown-menu with-bg" role="menu">
							<li><a href="services.html">Платные услуги</a></li>
							<li><a href="services.html">Территориальная программа государственных гарантий оказания гражданам медицинской помощи</a></li>
							<li><a href="services.html">Здоровый образ жизни</a></li>
						</ul>
					</li>
                                	<div class="tweet-login"> <li class="dropdown"> <a data-toggle="dropdown" href="#">ИНФОРМАЦИЯ ДЛЯ СПЕЦИАЛИСТОВ</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="doctors.html">Лекарственное обеспечение</a></li>
							<li><a href="doctor.html">Вышестоящие контролирующие организации</a></li>
							<li><a href="documents.html">Документы</a></li>
							<li><a href="job.html">Вакансии</a></li>
						</ul>
					</li> </div>
							<div class="tweet-text"> <li class="dropdown"> <a data-toggle="dropdown" href="#">О НАС</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="blog1.html">Исторя диспансера</a></li>
							<li><a href="blog2.html">Медицинские работники</a></li>
							<li><a href="blog3.html">Хоспис</a></li>
							<li><a href="blog4.html">Кафедра онкологии</a></li>
							<li><a href="blog_item.html">Административно-управленческий персоналr</a></li>
							<li><a href="blog_item2.html">Противодействие коррупции</a></li>
						</ul>
					</li>
                                <div class="tweet-login"> <li><a href="{% url 'contact:contact'  %}">КОНТАКТЫ</a></li> </div>
                            </div>
						</div>
						</div>
					</div>

					<!-- FOOTER ITEM 2 -->
					<div class="col-lg-6 ol-md-6 col-sm-6 col-xs-12 footer-item footer-item-2">
						<h3 class="footer-title footer-title-line"><i class="fa fa-clock-o"></i> ЧАСЫ РАБОТЫ</h3>
						<div class="opening-left"> Понедельник<br>
							Вторник<br>
							Среда<br>
							Четверг<br>
							Пятница<br>
							Суббота<br>
							Воскресенье</div>
						<div class="opening-right">9:00 am - 7:15 pm <br>
							9:00 am - 7:15 pm<br>
							9:00 am - 7:15 pm<br>
							9:00 am - 7:15 pm<br>
							9:00 am - 7:15 pm<br>
							Выходной<br>
							Выходной</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-copyright">
						<div> Copyright &copy; 2020 <a href="#" target="_blank">onko-smolensk
					</div>
					</div>
				</div>
			</div>

			<!-- FOOTER ITEM 3 -->
			<div class=" col-lg-3 col-md-4 col-sm-4 col-xs-12 footer-item footer-item-3 footer-matchheight" id="footer-item-3">
				<h3 class="footer-title"><i class="fa fa-map-marker"></i> Контакты</h3>
				<div class="footer-item-3-phone"> <i class="fa fa-phone"></i>  8 (4812) 38 45 91 </div>
				<div class="footer-item-3-location"> <i class="flaticon-navigation-arrow"></i> ул. Маршала Жукова, д.19, г. Смоленск, Смоленская область, 214000 тел. 384591 </div>
				<div class="footer-item-3-mail"> <i class="fa fa-envelope"></i> <a href="#">onkolog2016@mail.ru</a>
							</div>
			</div>
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-12  footer-item-4 ">
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aeb3a5bd51fb0b6d41e98fe9201efba8a6a5245d258fa371bed236d03152945d7&amp;source=constructor" width="430" height="500" frameborder="0"></iframe>
 </div>
	</div>
</div>
</div>
